main.backtest {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
}

.chart-header {
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  margin-left: 20px;
  width: calc(100% - 40px); /* Subtract margins to prevent overflow */
  display: flex;
  align-items: center;
}

.next-btn-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.next-btn-div > button {
  width: 100px;
  background-color: #ccc;
}

#account-info {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tab {
  font-weight: bold;
  border-radius: 0;
  display: inline-block;
  width: 100%;
}

.super-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#candlestick-chart {
  width: 100%;
  height: 50%;
  z-index: 1;
}

#candlestick-chart {
  width: calc(100% - 30px);
  margin-left: 20px;
  margin-right: 20px;
}

.table-container {
  margin: 10px 20px 0px 20px;
  max-height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid black;
}

.table-container table,
.table-container th,
.table-container td {
  font-size: 0.95rem;
}

.info-table {
  width: 100%;
  text-align: left;
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

.info-table thead {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #f8f9fa;
  border: 1px solid black;
  box-shadow: 0 0.5px 0 0 #000;
}

.info-table th,
.info-table td {
  border: 1px solid black;
  border-spacing: 0;
  padding: 5px;
}

#positions-table th,
#positions-table td {
  width: 25%;
}

#orders-table th,
#orders-table td {
  width: 20%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
